body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 10pt;
  margin: 8pt;
}

#topic {
  word-break: break-all;
}

#topic-hash > a {
  text-decoration: none;
}

#comments-count {
  display: block;
  color: #000;
}

.cm {
  margin: 10pt 0;
}

.cm > .ct {
  word-break: break-all;
}

.cm > .ct:empty:not(:focus) {
  cursor: text;
}

.cm > .ct:empty:not(:focus)::before {
  content: 'Your comment...';
  color: #888;
}

.cm > .ct:focus {
  outline: none;
}

.cm.draft > .ct {
  color: #444;
}

.cm > .hd {
  color: #888;
  font-size: 0.7em;
  user-select: none;
}

.cm > .hd > * {
  margin-right: 5pt;
}

.cm > .hd > .st[state="failed"] {
  color: #f00;
  background: #ff0;
}

.cm > .hd > .st[state="sent"] {
  color: #0f0;
}

.cm > .hd > .r, .c, .post {
  text-decoration: underline;
  cursor: pointer;
}

.cm > .hd > .post {
  color: #fff;
  background: #00f;
}

.cm > .sub {
  margin-left: 10pt;
}
