body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 10pt;
  margin: 8pt;
}

#topic-hash > a {
  text-decoration: none;
}

#comment {
  margin: 5pt 0;
  width: 100%;
}

.cm {
  margin: 10pt 0;
}

.hd {
  color: #888;
  font-size: 0.7em;
  user-select: none;
}

.hd > * {
  margin-right: 5pt;
}

.u, .c {
  text-decoration: underline;
  cursor: pointer;
}

.r {
  text-decoration: underline;
  cursor: pointer;
}

.sub {
  margin-left: 10pt;
}
