body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 10pt;
  margin: 0.5em;
}

body.mobile {
  font-size: 36pt;
}

#pii-notice {
  background: #ff0;
  border: 2px solid #f80;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}

#topic-url, #config-url {
  color: #888;
}

.cm {
  margin: 1em 0;
}

.cm > .ct {
  word-break: break-all;
}

.cm > .ct:empty:not(:focus) {
  cursor: text;
}

.cm > .ct:empty:not(:focus)::before {
  content: 'Your comment...';
  color: #888;
}

.cm > .ct:focus {
  outline: none;
  background: none;
}

.cm.draft {
  background: #ff8;
}

.cm > .hd {
  color: #888;
  font-size: 0.7em;
  user-select: none;
}

.cm > .hd > * {
  margin-right: 5pt;
}

.cm > .hd > .st[state="failed"] {
  color: #f00;
  background: #ff0;
}

.cm > .hd > .st[state="sent"] {
  color: #0f0;
}

.cm > .hd > .r, .c, .post {
  text-decoration: underline;
  cursor: pointer;
}

.cm > .hd > .post {
  color: #000;
  background: #ff0;
  font-weight: bold;
}

.cm > .sub {
  margin-left: 10pt;
}
