body {
  font-family: Ubuntu, Arial, sans-serif;
}

body.mobile {
  font-size: 24pt;
}

#config {
  width: 100%;
}

#config td {
  vertical-align: top;
  padding: 0.5em;
}

#config tr:nth-child(2n+1) {
  background: #eef;
}

#config td.key {
  font-weight: bold;
  width: 10em;
  word-break: break-all;
  word-wrap: break-word;
}

#config td.val {
  word-break: break-all;
  word-wrap: break-word;
}
