body {
  display: flex;
  flex-wrap: wrap;
  font-size: 10pt;
  font-family: Ubuntu, Arial, sans-serif;
}

.stat {
  margin: 5pt;
  padding: 5pt;
  width: 100pt;
  outline: 1px solid black;
}

.stat > svg {
  width: 100pt;
  height: 100pt;
}

.stat > a {
  word-wrap: break-word;
  color: black;
  text-decoration: none;
}

.stat > a:hover {
  text-decoration: underline;
}
