body {
  display: flex;
  flex-wrap: wrap;
  font-family: Ubuntu, Arial, sans-serif;
}

.stat {
  margin: 25px;
}

.stat > svg {
  width: 250px;
  height: 250px;
}

.stat > a {
  display: block;
  color: black;
  text-decoration: none;
}

.stat > a:hover {
  text-decoration: underline;
}
