body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 11pt;
  margin: 0.5em;
}

body.mobile {
  font-size: 24pt;
}

#pii-notice {
  border: 2px solid #000;
  font-weight: bold;
  font-size: 0.75em;
  padding: 1em;
  margin: 1em;
}

#comments-count {
  color: #888;
}

#dmode-url > u {
  cursor: pointer;
}

.cm {
  margin: 1em 0;
}

.cm > .ct {
  word-break: break-word;
  white-space: pre-wrap;
}

.cm > .ct:empty:not(:focus) {
  cursor: text;
}

.cm.draft > .ct:empty:not(:focus)::before {
  content: 'Your comment...';
}

.cm.draft.block > .ct:empty:not(:focus)::before {
  content: 'Why do you want to ban this user?';
}

.cm > .ct:focus {
  outline: none;
}

.cm > .hd {
  font-size: 0.7em;
  user-select: none;
}

.cm > .hd > * {
  margin-right: 5pt;
}

.cm > .hd > .ban-user-note {
  background: #800;
  color: #fff;
}

.cm.blocked > .hd > .u {
  color: #888;
  text-decoration: line-through;
}

.cm.mine > .hd > .u {
  color: #0a0;
}

.cm.mine > .hd > .ban {
  display: none;
}

.cm.blocked > .ct {
  color: #888;
  text-decoration: line-through;
}

body:not(.admin) .cm.blocked > .ct {
  display: none;
}

.cm > .hd > .r,
.cm > .hd > .c,
.cm > .hd > .post,
.cm > .hd > .ban {
  text-decoration: underline;
  cursor: pointer;
}

.cm > .hd > .post {
  font-weight: bold;
}

.cm > .hd > .ban {
  font-weight: bold;
  color: #800;
}

.cm.blocked > .hd > .ban,
.cm.blocked > .hd > .r {
  display: none;
}

.cm > .sub {
  padding-left: 1em;
}

.cm > .hd > .st[state="failed"] {
  background: #c00;
  color: #fff;
}

.cm > .hd > .st[state="sent"] {
  background: #0c0;
  color: #fff;
}
