body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 12pt;
  margin: 0.5em;
}

body.mobile {
  font-size: 36pt;
}

#pii-notice {
  border: 2px solid #000;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}

#dmode-url > u {
  cursor: pointer;
}

.cm {
  margin: 1em 0;
}

.cm > .ct {
  word-break: break-all;
}

.cm > .ct:empty:not(:focus) {
  cursor: text;
}

.cm > .ct:empty:not(:focus)::before {
  content: 'Your comment...';
}

.cm > .ct:focus {
  outline: none;
}

.cm > .hd {
  font-size: 0.7em;
  user-select: none;
}

.cm > .hd > * {
  margin-right: 5pt;
}

.cm > .hd > .r, .c, .post {
  text-decoration: underline;
  cursor: pointer;
}

.cm > .hd > .post {
  font-weight: bold;
}

.cm > .sub {
  padding-left: 1em;
}
