body {
    background: #2b2b2b;
}

.github-corner > svg {
    color: #000 !important;
    fill: #ff9000 !important;
}

#comments-count {
    color: #ff9000;
}

#info-bar {
    color: #e1e1e1;
}

#pii-notice {
  border-color: #840;
  background: #cc8000;
}

#controls {
  color: #aaa;
}

#controls a {
  color: #aaa;
}

.hd .r {
    color: #ff9000;
}

.hd .c {
    color: #888;
}

.hd .post {
  color: #47e33c;
}

.ct {
    color: #e1e1e1;
}

.cm.draft .u {
    color: white;
    background: #286291;
}

.cm > .hd {
  color: #888;
}

.cm > .ct:empty:not(:focus)::before {
    color: #888;
}

.cm > .sub {
    border-left: 2pt dashed #a95f00;
}

.cm > .hd > .ban {
  color: #c00;
}

.cm > .hd > .st[state="sent"] {
  background: #080;
  color: #fff;
}