#pii-notice {
  border-color: #f80;
  background: #ff0;
}

#controls {
  color: #888;
}

.cm > .ct:empty:not(:focus)::before {
  color: #888;
}

.cm.draft {
  background: #ff8;
}

.cm > .hd {
  color: #888;
}

.cm > .hd > .st[state="failed"] {
  color: #f00;
  background: #ff0;
}

.cm > .hd > .st[state="sent"] {
  color: #0f0;
}

.cm > .hd > .post {
  color: #000;
  background: #ff0;
}
