#controls,
#controls a {
  color: #888;
}

.cm > .ct:empty:not(:focus)::before {
  color: #888;
}

.cm.draft {
  background: #ff8;
}

.cm.block {
  background: #fee;
}

.cm > .hd {
  color: #888;
}

.cm > .hd > .post {
  color: #000;
}
